N: android=http://schemas.android.com/apk/res/android
  E: manifest (line=1)
    A: android:versionCode(0x0101021b)=(type 0x10)0x1c9fff5
    A: android:versionName(0x0101021c)="0.9.15477" (Raw: "0.9.15477")
    A: package="com.yingyonghui.market" (Raw: "com.yingyonghui.market")
    E: uses-permission (line=2)
      A: android:name(0x01010003)="android.permission.INTERNET" (Raw: "android.permission.INTERNET")
    E: uses-permission (line=3)
      A: android:name(0x01010003)="android.permission.INSTALL_PACKAGES" (Raw: "android.permission.INSTALL_PACKAGES")
    E: uses-permission (line=4)
      A: android:name(0x01010003)="android.permission.DELETE_PACKAGES" (Raw: "android.permission.DELETE_PACKAGES")
    E: uses-permission (line=5)
      A: android:name(0x01010003)="android.permission.WRITE_EXTERNAL_STORAGE" (Raw: "android.permission.WRITE_EXTERNAL_STORAGE")
    E: uses-permission (line=6)
      A: android:name(0x01010003)="android.permission.READ_PHONE_STATE" (Raw: "android.permission.READ_PHONE_STATE")
    E: uses-permission (line=7)
      A: android:name(0x01010003)="android.permission.READ_LOGS" (Raw: "android.permission.READ_LOGS")
    E: uses-permission (line=8)
      A: android:name(0x01010003)="android.permission.ACCESS_WIFI_STATE" (Raw: "android.permission.ACCESS_WIFI_STATE")
    E: uses-permission (line=9)
      A: android:name(0x01010003)="android.permission.ACCESS_NETWORK_STATE" (Raw: "android.permission.ACCESS_NETWORK_STATE")
    E: uses-permission (line=10)
      A: android:name(0x01010003)="android.permission.RECEIVE_BOOT_COMPLETED" (Raw: "android.permission.RECEIVE_BOOT_COMPLETED")
    E: uses-permission (line=11)
      A: android:name(0x01010003)="android.permission.GET_PACKAGE_SIZE" (Raw: "android.permission.GET_PACKAGE_SIZE")
    E: uses-permission (line=12)
      A: android:name(0x01010003)="android.permission.WAKE_LOCK" (Raw: "android.permission.WAKE_LOCK")
    E: uses-permission (line=13)
      A: android:name(0x01010003)="com.android.launcher.permission.INSTALL_SHORTCUT" (Raw: "com.android.launcher.permission.INSTALL_SHORTCUT")
    E: uses-permission (line=14)
      A: android:name(0x01010003)="com.android.launcher.permission.READ_SETTINGS" (Raw: "com.android.launcher.permission.READ_SETTINGS")
    E: uses-permission (line=15)
      A: android:name(0x01010003)="com.htc.launcher.permission.READ_SETTINGS" (Raw: "com.htc.launcher.permission.READ_SETTINGS")
    E: uses-permission (line=16)
      A: android:name(0x01010003)="android.permission.RECORD_AUDIO" (Raw: "android.permission.RECORD_AUDIO")
    E: uses-permission (line=17)
      A: android:name(0x01010003)="android.permission.GET_TASKS" (Raw: "android.permission.GET_TASKS")
    E: application (line=18)
      A: android:label(0x01010001)=@0x7f090000
      A: android:icon(0x01010002)=@0x7f020047
      A: android:name(0x01010003)=".MarketApplication" (Raw: ".MarketApplication")
      E: activity (line=19)
        A: android:label(0x01010001)=@0x7f090000
        A: android:name(0x01010003)="ActivitySplash" (Raw: "ActivitySplash")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        E: intent-filter (line=20)
          E: action (line=21)
            A: android:name(0x01010003)="android.intent.action.MAIN" (Raw: "android.intent.action.MAIN")
          E: category (line=22)
            A: android:name(0x01010003)="android.intent.category.LAUNCHER" (Raw: "android.intent.category.LAUNCHER")
      E: activity (line=25)
        A: android:label(0x01010001)=@0x7f090000
        A: android:name(0x01010003)="ActivityMain" (Raw: "ActivityMain")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
        E: intent-filter (line=26)
          E: action (line=27)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=28)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=31)
        A: android:label(0x01010001)=@0x7f090000
        A: android:name(0x01010003)="ActivityMenuSetting" (Raw: "ActivityMenuSetting")
        E: intent-filter (line=32)
          E: action (line=33)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=34)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=37)
        A: android:theme(0x01010000)=@0x7f0a0005
        A: android:label(0x01010001)=@0x7f090000
        A: android:name(0x01010003)="ActivityMenuAbout" (Raw: "ActivityMenuAbout")
        E: intent-filter (line=38)
          E: action (line=39)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=40)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=43)
        A: android:theme(0x01010000)=@0x7f0a0004
        A: android:label(0x01010001)=@0x7f090000
        A: android:name(0x01010003)="ActivityMenuFeedback" (Raw: "ActivityMenuFeedback")
        E: intent-filter (line=44)
          E: action (line=45)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=46)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=49)
        A: android:theme(0x01010000)=@0x7f0a0004
        A: android:label(0x01010001)=@0x7f090000
        A: android:name(0x01010003)="ActivityWarningShowIcon" (Raw: "ActivityWarningShowIcon")
        E: intent-filter (line=50)
          E: action (line=51)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=52)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=55)
        A: android:label(0x01010001)=@0x7f090064
        A: android:name(0x01010003)="ActivityTab4Search" (Raw: "ActivityTab4Search")
        E: intent-filter (line=56)
          E: action (line=57)
            A: android:name(0x01010003)="android.intent.action.MAIN" (Raw: "android.intent.action.MAIN")
          E: category (line=58)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
        E: intent-filter (line=60)
          E: action (line=61)
            A: android:name(0x01010003)="android.intent.action.SEARCH" (Raw: "android.intent.action.SEARCH")
          E: category (line=62)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
        E: intent-filter (line=64)
          A: android:priority(0x0101001c)=(type 0x10)0x64
          E: action (line=65)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=66)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: category (line=67)
            A: android:name(0x01010003)="android.intent.category.BROWSABLE" (Raw: "android.intent.category.BROWSABLE")
      E: activity (line=74)
        A: android:label(0x01010001)=@0x7f090064
        A: android:name(0x01010003)="ActivityListApp2" (Raw: "ActivityListApp2")
        E: intent-filter (line=75)
          E: action (line=76)
            A: android:name(0x01010003)="android.intent.action.MAIN" (Raw: "android.intent.action.MAIN")
          E: category (line=77)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
        E: intent-filter (line=79)
          E: action (line=80)
            A: android:name(0x01010003)="android.intent.action.SEARCH" (Raw: "android.intent.action.SEARCH")
          E: category (line=81)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
        E: intent-filter (line=83)
          A: android:priority(0x0101001c)=(type 0x10)0x64
          E: action (line=84)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=85)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
          E: category (line=86)
            A: android:name(0x01010003)="android.intent.category.BROWSABLE" (Raw: "android.intent.category.BROWSABLE")
          E: data (line=87)
            A: android:scheme(0x01010027)="http" (Raw: "http")
            A: android:host(0x01010028)="market.iworks.com" (Raw: "market.iworks.com")
            A: android:path(0x0101002a)="/search" (Raw: "/search")
          E: data (line=88)
            A: android:scheme(0x01010027)="market" (Raw: "market")
            A: android:host(0x01010028)="search" (Raw: "search")
            A: android:path(0x0101002a)="" (Raw: "")
      E: activity (line=91)
        A: android:theme(0x01010000)=@0x7f0a0004
        A: android:name(0x01010003)="ActivityWarningExit" (Raw: "ActivityWarningExit")
        E: intent-filter (line=92)
          E: action (line=93)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=94)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=97)
        A: android:theme(0x01010000)=@0x7f0a0006
        A: android:name(0x01010003)="ActivityWarningTraffic" (Raw: "ActivityWarningTraffic")
        E: intent-filter (line=98)
          E: action (line=99)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=100)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=103)
        A: android:theme(0x01010000)=@0x7f0a0004
        A: android:name(0x01010003)="ActivityWarningDownload" (Raw: "ActivityWarningDownload")
        E: intent-filter (line=104)
          E: action (line=105)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=106)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=109)
        A: android:name(0x01010003)="ActivityHubListen" (Raw: "ActivityHubListen")
        A: android:launchMode(0x0101001d)=(type 0x10)0x2
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
        E: intent-filter (line=110)
          E: action (line=111)
            A: android:name(0x01010003)="android.intent.action.VIEW" (Raw: "android.intent.action.VIEW")
          E: category (line=112)
            A: android:name(0x01010003)="android.intent.category.DEFAULT" (Raw: "android.intent.category.DEFAULT")
      E: activity (line=115)
        A: android:name(0x01010003)="ActivityListCategoryInner" (Raw: "ActivityListCategoryInner")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=116)
        A: android:name(0x01010003)="ActivityTab2Top" (Raw: "ActivityTab2Top")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=117)
        A: android:name(0x01010003)="ActivityTab3Category" (Raw: "ActivityTab3Category")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=118)
        A: android:name(0x01010003)=".FilteredAppListActivity" (Raw: ".FilteredAppListActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=119)
        A: android:name(0x01010003)="ActivityGridCategory" (Raw: "ActivityGridCategory")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=121)
        A: android:name(0x01010003)="ActivityDetailApp" (Raw: "ActivityDetailApp")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=130)
        A: android:name(0x01010003)="ActivityAssetPermissions" (Raw: "ActivityAssetPermissions")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=131)
        A: android:name(0x01010003)="ActivityListComments" (Raw: "ActivityListComments")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=132)
        A: android:name(0x01010003)="ActivityCommentsAdd" (Raw: "ActivityCommentsAdd")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=133)
        A: android:name(0x01010003)="ActivityCommentsReply" (Raw: "ActivityCommentsReply")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=134)
        A: android:name(0x01010003)="ActivityTab1Featured" (Raw: "ActivityTab1Featured")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=135)
        A: android:name(0x01010003)="ActivityTab5Manage" (Raw: "ActivityTab5Manage")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=136)
        A: android:name(0x01010003)="ActivityAppManage" (Raw: "ActivityAppManage")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=137)
        A: android:name(0x01010003)="ActivityListAppManage" (Raw: "ActivityListAppManage")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=138)
        A: android:name(0x01010003)="ActivityDetailAppInner" (Raw: "ActivityDetailAppInner")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=139)
        A: android:name(0x01010003)="ActivitySearchSuggestion" (Raw: "ActivitySearchSuggestion")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=140)
        A: android:name(0x01010003)="ActivityListAppRecommend" (Raw: "ActivityListAppRecommend")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=141)
        A: android:name(0x01010003)="ActivityDetailNews" (Raw: "ActivityDetailNews")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=142)
        A: android:name(0x01010003)="ActivityListNews" (Raw: "ActivityListNews")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=143)
        A: android:name(0x01010003)=".ActivityListApp" (Raw: ".ActivityListApp")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=144)
        A: android:name(0x01010003)="ActivityListAppDownload" (Raw: "ActivityListAppDownload")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=145)
        A: android:name(0x01010003)="ActivityListAppBackup" (Raw: "ActivityListAppBackup")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=146)
        A: android:name(0x01010003)="ActivityDetailScreenshot" (Raw: "ActivityDetailScreenshot")
        A: android:screenOrientation(0x0101001e)=(type 0x10)0x1
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=147)
        A: android:name(0x01010003)=".install.UninstallerActivity" (Raw: ".install.UninstallerActivity")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=148)
        A: android:name(0x01010003)=".install.UninstallAppProgress" (Raw: ".install.UninstallAppProgress")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=149)
        A: android:name(0x01010003)=".install.InstallAppProgress" (Raw: ".install.InstallAppProgress")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=150)
        A: android:name(0x01010003)="ActivityGuide" (Raw: "ActivityGuide")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=151)
        A: android:name(0x01010003)="ActivityNewEvents" (Raw: "ActivityNewEvents")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=152)
        A: android:name(0x01010003)="ActivityNewEventDetail" (Raw: "ActivityNewEventDetail")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=154)
        A: android:name(0x01010003)="ActivityWeekly" (Raw: "ActivityWeekly")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=156)
        A: android:name(0x01010003)="ActivityGridWeekly" (Raw: "ActivityGridWeekly")
        A: android:configChanges(0x0101001f)=(type 0x11)0xa0
      E: activity (line=159)
        A: android:name(0x01010003)="com.feedback.ui.SendFeedback" (Raw: "com.feedback.ui.SendFeedback")
        A: android:windowSoftInputMode(0x0101022b)=(type 0x11)0x10
      E: activity (line=160)
        A: android:name(0x01010003)="com.feedback.ui.FeedbackConversations" (Raw: "com.feedback.ui.FeedbackConversations")
      E: activity (line=161)
        A: android:name(0x01010003)="com.feedback.ui.FeedbackConversation" (Raw: "com.feedback.ui.FeedbackConversation")
        A: android:configChanges(0x0101001f)=(type 0x11)0x10
      E: provider (line=163)
        A: android:name(0x01010003)=".provider.MarketProvider" (Raw: ".provider.MarketProvider")
        A: android:authorities(0x01010018)="com.yingyonghui.provider.Market" (Raw: "com.yingyonghui.provider.Market")
      E: provider (line=164)
        A: android:name(0x01010003)="com.yingyonghui.downloads.DownloadProvider" (Raw: "com.yingyonghui.downloads.DownloadProvider")
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:authorities(0x01010018)="com.yingyonghui.downloads" (Raw: "com.yingyonghui.downloads")
      E: provider (line=165)
        A: android:name(0x01010003)="com.yingyonghui.market.provider.PackageInfoProvider" (Raw: "com.yingyonghui.market.provider.PackageInfoProvider")
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:authorities(0x01010018)="com.yingyonghui.market.packages" (Raw: "com.yingyonghui.market.packages")
      E: provider (line=166)
        A: android:name(0x01010003)=".provider.IgnoredPkgsInfoProvider" (Raw: ".provider.IgnoredPkgsInfoProvider")
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:authorities(0x01010018)="com.yingyonghui.market.provider.IgnoredPkgsInfo" (Raw: "com.yingyonghui.market.provider.IgnoredPkgsInfo")
      E: provider (line=167)
        A: android:name(0x01010003)=".log.AnalyticsProvider" (Raw: ".log.AnalyticsProvider")
        A: android:exported(0x01010010)=(type 0x12)0x0
        A: android:authorities(0x01010018)="com.appchina.market.analytics" (Raw: "com.appchina.market.analytics")
      E: service (line=168)
        A: android:name(0x01010003)="com.yingyonghui.downloads.DownloadService" (Raw: "com.yingyonghui.downloads.DownloadService")
      E: service (line=169)
        A: android:name(0x01010003)=".log.AnalyticsService" (Raw: ".log.AnalyticsService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=170)
        A: android:name(0x01010003)=".log.LogService" (Raw: ".log.LogService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=171)
        A: android:name(0x01010003)=".online.SyncService" (Raw: ".online.SyncService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: service (line=172)
        A: android:name(0x01010003)=".online.WeeklyService" (Raw: ".online.WeeklyService")
        A: android:exported(0x01010010)=(type 0x12)0x0
      E: receiver (line=173)
        A: android:name(0x01010003)="com.yingyonghui.downloads.DownloadReceiver" (Raw: "com.yingyonghui.downloads.DownloadReceiver")
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=174)
          E: action (line=176)
            A: android:name(0x01010003)="android.net.conn.CONNECTIVITY_CHANGE" (Raw: "android.net.conn.CONNECTIVITY_CHANGE")
      E: receiver (line=179)
        A: android:name(0x01010003)="com.yingyonghui.market.util.DownloadBootReceiver" (Raw: "com.yingyonghui.market.util.DownloadBootReceiver")
        E: intent-filter (line=180)
          A: android:priority(0x0101001c)=(type 0x10)0x3e8
          E: action (line=181)
            A: android:name(0x01010003)="android.intent.action.BOOT_COMPLETED" (Raw: "android.intent.action.BOOT_COMPLETED")
      E: receiver (line=184)
        A: android:name(0x01010003)="com.yingyonghui.market.util.DownloadExtReceiver" (Raw: "com.yingyonghui.market.util.DownloadExtReceiver")
        A: android:exported(0x01010010)=(type 0x12)0x0
        E: intent-filter (line=185)
          E: action (line=186)
            A: android:name(0x01010003)="com.yingyonghui.market.SYSINSTALL_APK" (Raw: "com.yingyonghui.market.SYSINSTALL_APK")
          E: data (line=188)
            A: android:scheme(0x01010027)="content" (Raw: "content")
        E: intent-filter (line=190)
          E: action (line=191)
            A: android:name(0x01010003)="android.intent.action.DOWNLOAD_COMPLETED" (Raw: "android.intent.action.DOWNLOAD_COMPLETED")
          E: action (line=192)
            A: android:name(0x01010003)="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" (Raw: "android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED")
          E: data (line=193)
            A: android:scheme(0x01010027)="content" (Raw: "content")
        E: intent-filter (line=195)
          A: android:priority(0x0101001c)=(type 0x10)0x64
          E: action (line=196)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_ADDED" (Raw: "android.intent.action.PACKAGE_ADDED")
          E: action (line=197)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REPLACED" (Raw: "android.intent.action.PACKAGE_REPLACED")
          E: action (line=198)
            A: android:name(0x01010003)="android.intent.action.PACKAGE_REMOVED" (Raw: "android.intent.action.PACKAGE_REMOVED")
          E: data (line=199)
            A: android:scheme(0x01010027)="package" (Raw: "package")
      E: receiver (line=202)
        A: android:name(0x01010003)=".online.MarketReceiver" (Raw: ".online.MarketReceiver")
      E: meta-data (line=210)
        A: android:name(0x01010003)="UMENG_APPKEY" (Raw: "UMENG_APPKEY")
        A: android:value(0x01010024)="4c40052f1d41c87895005112" (Raw: "4c40052f1d41c87895005112")
      E: meta-data (line=211)
        A: android:name(0x01010003)="UMENG_CHANNEL" (Raw: "UMENG_CHANNEL")
        A: android:value(0x01010024)="c0006" (Raw: "c0006")
      E: meta-data (line=212)
        A: android:name(0x01010003)="APPCHINA_CHANNEL" (Raw: "APPCHINA_CHANNEL")
        A: android:value(0x01010024)="ac.publish.web" (Raw: "ac.publish.web")
    E: supports-screens (line=215)
      A: android:anyDensity(0x0101026c)=(type 0x12)0xffffffff
      A: android:smallScreens(0x01010284)=(type 0x12)0xffffffff
      A: android:normalScreens(0x01010285)=(type 0x12)0xffffffff
      A: android:largeScreens(0x01010286)=(type 0x12)0xffffffff
    E: uses-sdk (line=216)
      A: android:minSdkVersion(0x0101020c)=(type 0x10)0x4
